<mat-toolbar>

    <button mat-button [matMenuTriggerFor]="m" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    
<mat-menu #m="matMenu">
  <button mat-menu-item routerLink="/BMW">BMW</button>
  <button mat-menu-item routerLink="/Chevrolet">Chevrolet</button>
  <button mat-menu-item routerLink="/Nissan">Nissan</button>
  <button mat-menu-item routerLink="/Volkswagen">Volkswagen</button>
  <button mat-menu-item routerLink="/Fiat">Fiat</button>
  <button mat-menu-item routerLink="/Hyundai">Hyundai</button>
  <button mat-menu-item routerLink="/Kia">Kia</button>
  <button mat-menu-item routerLink="/Suzuki">Suzuki</button>
  <button mat-menu-item routerLink="/Ford">Ford</button>
  <button mat-menu-item routerLink="/Porshe">Porshe</button>
</mat-menu>



</mat-toolbar>